<% provide(:title, t('about_page')) %>
<h1><%= t('about_page') %></h1>
<p>
  <a href="http://www.railstutorial.org/"><em><%= t('tutorial') %></em></a>
  <%= t('about.is') %>
  <a href="http://rubyonrails.org/"><%= t('rails') %></a>
  <%= t('about.about_tutorial') %>
  <a href="http://railstutorial.jp"><%= t('about.book') %></a> <%= t('about.and') %>
  <a href="http://screencasts.railstutorial.org/"><%= t('about.screencast') %></a>
  <%= t('about.end') %>
  <%= t('about.this_site_is') %>
</p>

