<% provide(:title, t('help_page')) %>
<h1><%= t('help_page') %></h1>
<p>
  <%= t('help.tutorial_help') %>
  <a href="http://railstutorial.jp/help"><%= t('help.this') %></a>
  <%= t('help.sample_help') %>
  <a href="http://railstutorial.jp"><em><%= t('help.this') %></em></a>
</p>
