<h1><%= t('application') %></h1>

<p><%= @user.name %> <%= t('email.hi') %></p>

<p>
  <%= t('email.welcome') %>
</p>

<%= link_to t('email.activate'), edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>
