<h1><%= t('password_reset.title') %></h1>

<p><%= t('email.password_reset') %></p>

<%= link_to t('email.reset'), edit_password_url(@resource, :reset_password_token => @token) %>

<p><%= t('email.expire') %></p>

<p>
  <%= t('email.do_not_request') %>
</p>
